{% extends "base.html" %}

{% block content %}
    
    <h2>Your files</h2>
   
    {% if documents %}
        <div class="dataTable_wrapper">
            <table border=1 class="table table-striped table-bordered table-hover" id="dataTables-protocols">
                <thead>
                  <tr>
                    <th>
                        id
                    </th>
                    <th>
                        Files
                    </th>
                </thead>
                <tbody>
                    {% for document in documents %}
                        <tr>
                            <td>
                                {{ document.pk }}
                            </td>
                            <td>
                                <a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}

        <p>No documents.</p>

    {% endif %}
    <!-- Upload form. -->
    <form id="upload_form" action="{% url 'edf_manager' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            {{ form.docfile.errors }}
            <label class="btn btn-default btn-lg">
                Upload a new EDF File <input name="{{ form.docfile.name }}" type="file" onchange="document.querySelector('#upload_form').submit();" class="hidden">
            </label>
        </p>
    </form>

{% endblock %}
