<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dreemcare</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <!--I don't usually put my CSS in my html files ;) -->
        <style>
            header, section {
                margin: 1em 5em;
            }

            #upload_form {
                text-align: center;
                margin-top: 3em;
            }
        </style>
    </head>
    <body>
        <header>
            <h1> Dreemcare </h1>
            <nav>
                <ul class="nav nav-tabs">
                    <li class="{{ active_nav_tab.0 }}">
                        <a href="/edf_manager/">Manage EDF Files</a>
                    </li>
                    <li class="{{ active_nav_tab.1 }}">
                        <a href="/predictions/">Get Prediction Scores</a>
                    </li>
                </ul>
            </nav>
        </header>
        
        <section id="content">
            {% block content %}{% endblock %}
        </section>

    </body>
</html>
